ion-content{
    --ion-background-color: #0C0053;
}
img{
    margin-left: 30px;
    margin-right: 20px;
}
.loginbtn, .signupbtn{
    margin-left: 110px;
    margin-right: 20px;
    width: 50%;
    height: 50%;
}
