ion-content {
  --ion-background-color: #0c0053;
}

.texttips {
    text-align: center;
    text-align: justify;
    // margin-left: 20px;
    // margin-right: 20px;
    text-decoration: violet;
    padding-left: 20px;
    padding-right: 20px;

}

.backbtn{
    float: left;
    margin-top: 110px;
}

img{
  margin-left: 20px;
  margin-top: 40px;

}
ion-card-title{
  margin-left: 50px;
}