<ion-content>
  <div>

    <ion-title class="wish" size="small">We wish you have a good day!</ion-title>
    <br>
    <ion-searchbar></ion-searchbar>
    <br>
  </div>

  <div>
    <ion-chip color="danger" class="sleepbtn">
      <ion-icon name="bed-outline"></ion-icon>
      <ion-label>Sweet Sleep</ion-label>
    </ion-chip>

    <ion-chip color="warning" class="insomniabtn">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Insomnia</ion-label>
    </ion-chip>

    <ion-chip color="primary" class="depressionbtn">
      <ion-icon name="sad-outline"></ion-icon>
      <ion-label>Depression</ion-label>
    </ion-chip>
  </div>

  <div>
    <ion-chip class="dailythoughtbtn">
      <ion-label>Daily Thought<br><br>Meditation: 3-10 minutes</ion-label>
    </ion-chip>
  </div>


  

  <ion-card-title class="feature">Featured</ion-card-title>



  <!-- <div>
    <ion-chip class="sleepmeditation">
      <ion-label>Sleep meditation</ion-label>
      
       <section class="PressMe">
        <ion-button class="pressmebtn" size="small">Press Me</ion-button>
      </section> 

      <ion-button item-right clear (click)="btnClicked()"></ion-button> 
        
        <ion-icon class="arrow" name="arrow-forward-outline" size="large"></ion-icon>
    </button> 

    </ion-chip>

    <ion-chip class="sleepingtips">
      <ion-label>Tips for sleeping</ion-label>
       

        <ion-icon class="tips" name="reader-outline" size="large"></ion-icon>

      </ion-button> 
     
      
    </ion-chip>
   -->
<!--
    <ion-chip class="medit">
      <ion-label>Give, even if you have a little. BUDDHA</ion-label>
      <ion-icon name="mic-outline" size="large"></ion-icon>
    </ion-chip>
  </div> 
-->
<div>
  <ion-chip class="sleepmeditation">
    <ion-label>Tips for sleeping</ion-label>
    <ion-icon class="tips" name="reader-outline" size="large"></ion-icon>
  </ion-chip>
  <br>
  <ion-button size="small" class="clickmetips">Click me</ion-button>

</div>

<div>

  <ion-chip class="Meditation">
<ion-label>Meditation Session</ion-label>
<ion-icon class="arrow" name="arrow-forward-outline" size="large"></ion-icon>
</ion-chip>
<br>
<ion-button size="small" class="clickmemedit">Let's go</ion-button> 
</div>






  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="music">
        <ion-label>Home</ion-label>
        <ion-icon name="home-outline" size="large" (click)="goHome()"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="music">
        <ion-label>Meditation</ion-label>
        <ion-icon name="moon-outline" size="large" (click)="goMeditation()"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="music">
        <ion-label>Music</ion-label>
        <ion-icon name="musical-notes-outline" size="large"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="music">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings-outline" size="large"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>


   <style>
    ion-title,
    ion-label,
    ion-searchbar,
    ion-icon,
    ion-card-title {
      color: white;
    }

    .arrow, .tips{
      color:black;
    }
  </style> 
</ion-content> 