ion-content{
  --ion-background-color: #0C0053;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/*-----ION CHIPS ------ */ 

.sweetsleep{
margin-right: 30px;
float: left;
}

.homebuttons{
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.depressionbtn, .insomniabtn{
  background-color: #808080;
}

.sleepbtn{
  background-color: #00A3FF;
}

.dailythoughtbtn{
  width: 85%;
  height: 30%;
  background-color: lightcoral;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:40px;
  margin-bottom: 40px;
  
}
.Meditation{
  background-color: yellowgreen;
  margin-right: 150px;
  margin-left:20px;
  width:40%;
  height: 40%;
  padding-bottom: 60px;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 20px;

}

.sleepmeditation{
  float: left;
  margin-left: 20px;
  width: 40%;
  height: 40%;
  background-color: #8BEB11;
  padding-bottom: 60px;
  margin-top: 70px;
  font-size: 20px;
}

.sleepingtips{
  float: right;
  margin-right: 20px;
  width: 40%;
  height: 40%;
  background-color: yellowgreen;
  padding-bottom: 60px;
  margin-top:70px;

}

.medit{
  margin-left: 50px;
  margin-top: 30px;
  //margin-bottom: 40px;
  width: 70%;
  height: 90%;
  background-color: #00FF75;
  padding: 10px 10px;
  font-size: 15px;
  margin-top: 70px;
  margin-right: 5px;
 

}

.wish{
  margin-top: 20px;
  font-size: 20px;
}

// .featured{
//   float:left;
//   margin-left: 20px;

// }

.feature{
  margin-left: 20px;
}

// .pressmebtn{
//   //padding-top: 20px;
//   //margin-left: 10px;
//   //margin-right: 20px;
//   //margin-top: 30px;
//   margin-bottom: -80px;
//   margin-right: -20px;
// }

.PressMe{

margin-top: 30px;
margin-right: 100px;

}

.clickmetips{
  float: right;
  margin-top: 90px;
  margin-left: 10px;
  margin-right: 50px;
  
}

.clickmemedit{
  float:right;
  margin-top: -110px;
  margin-right: 50px;

}
