ion-content.background{
    --ion-background-color: #0C0053;
        
    
}
.profileicon{
    height: 30%;
    width: 30%;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 100px;
}

ion-title{
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 50px;
    font-size: 30px;
}

.logoutbtn{
    background-color: #CD1636;
    margin-left: 160px;
    margin-right: 50px;
    margin-top: 30px;
}